[Unit]
Description=Synchronize GameCube Card A saves with git

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/python3 %h/.dotfiles/linux/scripts/sync-retroarch-saves.py
TimeoutStartSec=90
